<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
          <img src="assets\images\book1.jpg" alt="Book " height="300" width="500">
          <img src="assets\images\book2.jpg" alt="Book" height="300" width="500">
          <img src="assets\images\book3.jpg" alt="Book" height="300" width="500">
      </a>

      <style>footer{color:white;background-color:rgb(155, 207, 207);text-align: end;</style>
      <h3>
        <footer>
          <a href="#">AboutUs</a> &nbsp;&nbsp;
          <a href="#">ContactUs</a> &nbsp;&nbsp;
          <a href="#">Help</a>
        </footer>
      </h3>
      <style>
        h1{color:rgb(0, 72, 255);background-color: aqua;text-align: center;}
      </style>
      <h1>Welcome To BookStore!!!</h1>


      
  </div>
  <h2>
      <div class="menu-sidebar-content js-scrollbar1">
        
          <nav class="navbar-sidebar">
            
            
                      <a href="#">Home</a> &nbsp; &nbsp;&nbsp;
                      <a href="#">Books</a> &nbsp;&nbsp;&nbsp;
                      <a href="#">Collections</a> &nbsp;
                      <a href="#">Categories</a>
          </nav>
    
  </div>
</h2>
</aside>
  <!-- END MENU SIDEBAR-->
  <!-- PAGE CONTAINER-->
  <div class="page-container">
      <!-- HEADER DESKTOP-->
      <app-search></app-search>

      <!-- END HEADER DESKTOP-->

      <!--Main content-->
    
    <router-outlet></router-outlet>
  </div>
    
  </div>


<!-- End page container-->